<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Omari Health</title>
  </head>
  <body>
    <div class="w-full h-screen flex">
      <div class="relative flex flex-col m-auto">
        <p
          class="text-center text-[#3A3A3A] text-[24px] font-semibold leading-9"
        >
          Omari Health
        </p>
        <p
          class="pt-[10px] text-center text-[14px] leading-7 font-nomral text-[#3A3A3A] mx-auto w-[350px] h-[84px]"
        >
          Conntecting patients with top tier practioners, via prime online
          consultation.
        </p>
        <div class="flex flex-col gap-2.5 pt-[30px] w-[350px]">
          <a href="/patient/login">
            <button
              class="w-[90%] mx-auto h-[53px] text-white bg-[#3A3A3A] rounded-full"
            >
              Patient
            </button>
          </a>
          <a href="/doctor/login">
            <button
              class="w-[90%] mx-auto h-[53px] text-[#3A3A3A] bg-[#EEEEEE] rounded-full"
            >
              Practitioner
            </button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
